Preguntas/Preguntas2.xml

 <?xml version='1.0'?>

<!ELEMENT test (question+)>
<!ELEMENT question (wording,choices)>
<!ELEMENT wording (#PCDATA)>
<!ELEMENT choices (choice+)>
<!ELEMENT choice (#PCDATA)>
 
<!ATTLIST question id CDATA #REQUIRED>
<!ATTLIST choice correct (yes|no) “no”>




<question>¿Quién protagoniza Pretty Woman?</question>
<choices>
    <choice correct='yes'>Richard Gere</choice>
    <choice correct='no'>Nicholas Cage</choice>
    <choice correct='no'>Fernando Tejero</choice>
    <choice correct='no'>Nick Nolte</choice>
</choices>

<question>¿Cuántos Oscars ganó Titanic?</question>
<choices>
    <choice correct='yes'>11</choice>
    <choice correct='no'>2</choice>
    <choice correct='no'>244</choice>
    <choice correct='no'>18.4</choice>
</choices>

<question>¿Quién dirigió El Gran Lebowski?</question>
<choices>
    <choice correct='yes'>Hermanos Coen</choice>
    <choice correct='no'>Hermanos Lumier</choice>
    <choice correct='no'>Steven Spielberg</choice>
    <choice correct='no'>George Lucas</choice>
</choices>

<question>¿Quién protagoniza El Paciente Inglés?</question>
<choices>
    <choice correct='yes'>Juliette Binoche</choice>
    <choice correct='no'>Susan Sarandon</choice>
    <choice correct='no'>Susana Sarandonga</choice>
    <choice correct='no'>Marco Italia</choice>
</choices>

<question>¿Cuántos jugadores tiene un equipo de fútbol en el campo de juego?</question>
<choices>
    <choice correct='yes'>11 jugadores</choice>
    <choice correct='no'>6 jugadores</choice>
    <choice correct='no'>2 entrenadores</choice>
    <choice correct='no'>20 jugadores</choice>
</choices>

<question>¿Quién ganó el mundial de fútbol en 2010?</question>
<choices>
    <choice correct='yes'>La selección española</choice>
    <choice correct='no'>La selección francesa</choice>
    <choice correct='no'>El Atlético de Madrid</choice>
    <choice correct='no'>La selección de Ghana</choice>
</choices>

<question>¿Qué número llevaba a la espalda Raúl González del Real Madrid?</question>
<choices>
    <choice correct='yes'>El número 7</choice>
    <choice correct='no'>El número 10</choice>
    <choice correct='no'>El número 1</choice>
    <choice correct='no'>El número 20</choice>
</choices>

<question>¿Qué equipos componen el derby sevillano?</question>
<choices>
    <choice correct='yes'>Sevilla vs Betis</choice>
    <choice correct='no'>Sevilla vs Alameda</choice>
    <choice correct='no'>Betis vs Granada</choice>
    <choice correct='no'>Betis vs Tomares</choice>
</choices>

<question>¿En qué equipo italiano jugó Diego Armando Maradona?</question>
<choices>
    <choice correct='yes'>En el Nápoli</choice>
    <choice correct='no'>En la Juventus</choice>
    <choice correct='no'>En el Palermo</choice>
    <choice correct='no'>En el Palos de la Frontera</choice>
</choices>

<question>¿De qué ciudad es el Chelsea Football Club?</question>
<choices>
    <choice correct='yes'>De Fulham, Londres</choice>
    <choice correct='no'>De Albayzin, Granada</choice>
    <choice correct='no'>De United, Manchester</choice>
    <choice correct='no'>De Liverpool</choice>
</choices>

<question>¿De qué colores es la camiseta del Atlético de Madrid?</question>
<choices>
    <choice correct='yes'>Rojo y blanco</choice>
    <choice correct='no'>Verde y blanco</choice>
    <choice correct='no'>Naranja y negro</choice>
    <choice correct='no'>Rosa y verde</choice>
</choices>

<question>¿Qué equipo de la Premier League tiene más ligas ganadas?</question>
<choices>
    <choice correct='yes'>El Manchester United</choice>
    <choice correct='no'>El Everton</choice>
    <choice correct='no'>El San Roque de Lepe</choice>
    <choice correct='no'>El Totenham</choice>
</choices>

<question>¿Qué revista concede el Balón de Oro?</question>
<choices>
    <choice correct='yes'>La revista France Football</choice>
    <choice correct='no'>La revista Hola!</choice>
    <choice correct='no'>El Mundo Deportivo</choice>
    <choice correct='no'>La revista Quore</choice>
</choices>

<question>¿Cómo se llama el estadio del Bayern de Munich?</question>
<choices>
    <choice correct='yes'>Allianz Arena</choice>
    <choice correct='no'>Spotify Camp Nou</choice>
    <choice correct='no'>Madrigal</choice>
    <choice correct='no'>Colombino</choice>
</choices>

<question>¿En qué año debutó Pep Guardiola como entrenador en el FC Barcelona?</question>
<choices>
    <choice correct='yes'>2008</choice>
    <choice correct='no'>1997</choice>
    <choice correct='no'>2005</choice>
    <choice correct='no'>2020</choice>
</choices>

<question>¿Qué equipo ha ganado más Champions League de la historia?</question>
<choices>
    <choice correct='yes'>El Real Madrid</choice>
    <choice correct='no'>El Osasuna</choice>
    <choice correct='no'>El Barcelona</choice>
    <choice correct='no'>El Atlético de Tetuan</choice>
</choices>

<question>¿Quién es conodico como "O Rei"?</question>
<choices>
    <choice correct='yes'>Pelé</choice>
    <choice correct='no'>Joaquín</choice>
    <choice correct='no'>Messi</choice>
    <choice correct='no'>Cristiano Ronaldo</choice>
</choices>

<question>¿Qué equipo de fútbol juega en el estadio El Molinón?</question>
<choices>
    <choice correct='yes'>El Real Sporting de Gijón</choice>
    <choice correct='no'>El Recreativo de Huelva</choice>
    <choice correct='no'>El Real Madrid</choice>
    <choice correct='no'>El Atletico de Bilbao</choice>
</choices>

<question>¿Qué entrenador argentino es conocido como "El Cholo"?</question>
<choices>
    <choice correct='yes'>Diego Simeone</choice>
    <choice correct='no'>Anchelotti</choice>
    <choice correct='no'>Pep Guardiola</choice>
    <choice correct='no'>Mourinho</choice>
</choices>



<!-- https://www.mundodeportivo.com/uncomo/ocio/articulo/120-preguntas-de-deportes-50646.html -->